*{
    font-family: Arial;
}

body{
    background-color: silver;
}

/*adds a blue grey gradient background to the article section*/
article{
    background-image: linear-gradient(blue, grey);
    padding: 5%;
}

/*adds a background image to the header, and a text colour of white*/
header{
    background-image: url(https://images.unsplash.com/photo-1470125634816-ede3f51bbb42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3Vuc2V0JTIwcGFub3JhbWF8ZW58MHx8MHx8&w=1000&q=80);
    background-size: cover;
    color: white;
    padding: 5%;
    text-shadow: 20px blue;
}

/*adds style to the hyperlinks*/
a{
    color: lightseagreen;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

/*sets the images to block display*/
img{
    display: block;
    height: 20%;
    border: lightseagreen;
    margin-bottom: 10%;
}

.subHeading{
    border-bottom: solid 5px grey;
}

header, article, img{
    border-radius: 0.75em;
    box-shadow: 20px white;
}